.Item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.Delete{
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 600;
}

.Manage{
    background-color: lightblue;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 600;
}